body {
    font-family: Arial, sans-serif;
    text-align: center;

}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    background-image:url(backimage.jpg);
    background-position: center;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    
}

label {
    display: block;
    display: flex;
    margin-bottom: 5px;
    
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #fefcfc;
    
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f6c9ff;
    color: rgb(15, 14, 14);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
